data/22_pos6_angle0_e26_ch32/22_pos6_angle0_e26_ch32.bin_0002
data/
a/
runs/
src/read
RootRunlist
threadcounter.txt
src/mergeROOTFiles
mergeROOTFiles
RootRunlist.txt
config.txt
save/
redis-stable/
redis-stable.tar.gz
dump.rdb
.vs/
.vscode/
WaveCatcher/
demo.png
include/
rootFiles_done/
src/makeIntegralsPDF

RootReader2.sh
